@model FizzBuzz

@{
    ViewData["Title"] = "FizzBuzz";
}

<h1>FizzBuzz</h1>

<form asp-action="Index" method="post">
    <label for="userInput">Enter a string:</label><br />
    <input type="text" id="userInput" name="userInput" /><br />
    <button type="submit">Submit</button>
</form>
<div>
    @Html.Raw(ViewBag.Result)
</div>
